.selectHiddenBorder {
  .ant-select-selector {
    border: none !important;
    border-bottom: 1px solid #d9d9d9 !important;
    box-shadow: none !important;
  }
}
.inputNumberHiddenBorder {
  width: 100%;
  border: none !important;
  border-bottom: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
  margin-top: 6px;
}
.inputNumberHiddenBorder1 {
  width: 100%;
  border: none !important;
  border-bottom: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
  margin-top: 6px;
  background: #f8f8f8;
}
.inputNumberHiddenBorder2 {
  width: 100%;
  border: none !important;
  border-bottom: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
  margin-top: 6px;
  background: #fff;
}
.selectHiddenBorder2 {
  .ant-select-selector {
    border: none !important;
    border-bottom: 1px solid #d9d9d9 !important;
    box-shadow: none !important;
    background-color: #f8f8f8 !important;
  }
}
.backgroundIsu {
  background: #fff;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 5px;
}
.backgroundIsu2 {
  background: #f8f8f8;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 5px;
}
.backgroundIsu3 {
  background: #fff;
  padding: 20px;
}
.thanhtien {
  color: #da291c;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
}
